/* PC */
@media (max-width: 1500px) {
    .developer-content__slogan {
        font-size: 50px;
    }
}

@media (max-width: 1440px) {
    .info {
        padding-left: 100px;
    }

    .input {
        right: 10px;
    }
}

@media (max-width: 1440px) and (min-width: 1213px) {
    .developer-content__img {
        left: 50px;
    }

    .developer-content__chat,
    .developer-content__describe,
    .developer-content__slogan,
    .developer-content__job {
        margin-left: 100px;
    }

    .developer-img {
        left: -150px;
    }
}

@media (min-width: 1200px) {
    .layout,
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    #header__nav-login-link {
        padding: 12px 30px;
    }

    .info {
        padding-left: 50px;
    }

    .social-network {
        left: 100px;
    }

    .license {
        padding-right: 100px;
    }
}

@media (min-width: 1024px) {}

/* Tablet */
@media (max-width: 1023px) {

    /* Header section */
    #header {
        height: 80px;
        padding: 8px 24px;
    }

    .header__logo {
        flex: 1;
        margin-top: 2px;
    }

    .header__nav {
        flex-grow: unset;
    }

    .header__nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 20px 20px 15px;
    }

    .header__nav-container li {
        margin-left: 0;
    }

    .header__btn-menu {
        display: block;
        margin-left: 20px;
    }

    /* Home section */
    .overlay_color {
        width: 470px;
    }

    .developer-content__img {
        left: -56px;
    }

    .developer-content {
        padding: unset;
    }

    .developer-content__chat,
    .developer-content__describe,
    .developer-content__slogan,
    .developer-content__job {
        margin-left: 9px;
    }

    .developer-content__job {
        padding: 7px 29px;
    }

    .developer-content__job span {
        font-size: 13px;
        letter-spacing: 4px;
    }

    .developer-content__slogan {
        font-size: 48px;
    }

    .developer-content__developer-skill {
        margin: 60px 0 40px 0;
        margin-left: unset;
        width: 100%;
    }

    .developer-skill__experience,
    .developer-skill__projects {
        width: 50%;
    }

    .developer-skill__experience p,
    .developer-skill__projects p {
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    /* About section */
    .row-reverse {
        flex-direction: column-reverse;
    }

    .skill-part {
        padding: 0 10px;
    }

    .skill-part__item {
        padding: 30px 60px 30px 30px;
    }

    .skill-part__item span i {
        font-size: 30px;
    }

    .content-part {
        padding-left: 15px;
        margin-bottom: 30px;
    }

    .content-part p {
        font-size: 16px;
    }

    /* Service section */
    .supporter {
        padding: 0 70px;
    }

    .supporter__logo-item {
        width: 23%;
    }

    /* Contact section */
    .column {
        flex-direction: column;
    }

    .input,
    .info {
        padding: 10px;
    }

    .info {
        margin-bottom: 50px;
    }

    .input {
        right: 0;
    }

    .input__form {
        width: 100%;
    }

    .input__form-text {
        margin-right: 0;
        flex: unset;
        width: 100%;
    }

    /* Footer section */
    .social-network {
        left: 0;
        margin-left: 16px;
    }

    .license {
        padding: 0;
        margin-right: 16px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .part {
        padding: 0;
    }

    /* Header section */
    #header {
        padding: 8px 15px;
    }

    /* Home section */
    .developer-content__img {
        left: -80px;
    }

    .developer-content__chat,
    .developer-content__describe,
    .developer-content__slogan,
    .developer-content__job {
        margin-left: 0;
    }

    .developer-content__job {
        padding: 9px 29px;
    }

    .developer-content__job span {
        letter-spacing: 1.25px;
    }

    .developer-content__slogan {
        margin-bottom: 32px;
        font-size: 38px;
    }

    .developer-content__describe {
        white-space: unset;
    }

    .developer-content__developer-skill {
        flex-direction: column;
        margin-top: 70px;
    }

    .developer-skill__experience,
    .developer-skill__projects {
        width: 100%;
        padding: 0 24px;
    }

    .developer-img {
        height: 630.138px;
    }

    .developer-img1 {
        left: 0;
    }

    .developer-img2 {
        display: none;
    }

    .developer-img3 {
        left: 202px;
    }

    .developer-img4 {
        left: 0;
        width: 384.4px;
        height: 570.138px;
    }

    .developer-img5 {
        left: -15px;
    }

    .developer-img6 {
        left: 210px;
    }

    .developer-img7 {
        top: 140px;
        left: -55px;
    }

    /* About section */
    .content-part {
        padding-left: 0;
    }

    .skill-part {
        padding: 0;
    }

    /* Service section */
    .supporter {
        padding: 0;
    }

    .supporter__logo-item {
        width: 30%;
    }

    /* Contact section */
    #contact {
        padding: 90px 0;
    }

    .input,
    .info {
        padding: 0;
    }

    .media__content a {
        font-size: 25px;
    }

    /* Footer section */
    #footer {
        padding: 7.5px 0;
    }

    .column-footer {
        flex-direction: column;
    }

    .social-network {
        justify-content: center;
    }

    .social-network__item {
        padding: 0 2px;
    }

    .license {
        text-align: center;
        margin-top: 0;
        margin-bottom: 7px;
    }

    .license p {
        letter-spacing: 2px;
    }
}