* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    line-height: 30px;
    color: #797979;
    z-index: -9999;
    font-family: Open Sans, sans-serif;
}

.home__container,
.service__container,
.contact__container,
.footer_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.column-input,
.column-footer,
.column,
.row-reverse,
.row {
    display: flex;
    flex-wrap: wrap;
}

.part {
    position: relative;
    flex: 1;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

textarea:focus,
input:focus {
    outline: 1px solid #0db3c7;
}

.display-flex {
    display: flex !important;
}

/* Font */
.license p,
.license h6,
.input__form-btn,
.media__content h6,
.input>h2,
.info>h2,
.input>h6,
.info>h6,
.content-part p,
.content-part h5,
.content-part h2,
.content-part h6,
.skill-part__item,
.developer-skill__experience p,
.developer-skill__projects p,
.developer-content__job span,
.developer-content__slogan,
.developer-content__describe {
    font-family: Poppins, sans-serif;
}


/* Header */
#header {
    position: fixed;
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 54px;
    transition: all 0.3s ease-in-out;
}

/* Js when page is scrolled */
.scroll-active {
    background: #fff;
    box-shadow: 0 2px 35px 0 #0000001a;
}

.header__logo {
    margin-top: 5px;
}

/* Nav */
.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__nav a {
    text-decoration: none;
    font: 600 13.5px/30px Montserrat, sans-serif;
    text-transform: uppercase;
}

.header__nav-container {
    display: flex;
    margin: auto;
}

.header__nav-container li {
    position: relative;
    margin-left: 35px;
    letter-spacing: 0.5px;
    list-style-type: none;
}

.header__nav-container a {
    color: #040c2c;
}

.header__nav-container a:hover::before {
    width: 100%;
    left: 0;
}

.header__nav-container a::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 1.3px;
    opacity: 0.71;
    background: #040c2c;
    transition: all 0.3s ease-in-out;
}

.header__nav-login {}

.header__nav-login li {
    background: #040c2c;
    padding: 6.5px 3px 7px 3px;
    margin-left: 35px;
    border-radius: 3px;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
}

#header__nav-login-link {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 12px 34px;
    /* border: 2px solid transparent; */
    transition: all 0.3s linear;
}

#header__nav-login-link:hover {
    box-shadow: 0 16px 30px 0 #0000001f;
    color: #040c2c;
}

#header__nav-login-link:hover::before {
    transform: scaleX(1);
}

#header__nav-login-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transform: scaleX(0);
}

.header__btn-menu {
    display: none;
    border: none;
    background: inherit;
    cursor: pointer;
}

.header__btn-menu span {
    display: block;
    width: 30px;
    height: 2px;
    background: #040c2c;
    margin-bottom: 5px;
    transition: all 0.4s linear;
}

.header__btn-menu.active__btn-menu span:nth-child(1) {
    position: relative;
    top: 6px;
    transform: rotate(-45deg);
}

.header__btn-menu.active__btn-menu span:nth-child(2) {
    opacity: 0;
}

.header__btn-menu.active__btn-menu span:nth-child(3) {
    position: relative;
    bottom: 8px;
    transform: rotate(42deg);
}

#contact,
#service,
#about,
#home {
    position: relative;
    z-index: -2;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Home */
#home {
    background: linear-gradient(1.14deg, rgb(244, 247, 252) 0%, rgb(255, 255, 255) 100%);
    height: auto;
    padding-top: 170px;
    margin-bottom: 16px;
}

.img-top-left {
    position: absolute;
    top: 0;
}

.overlay_color {
    position: absolute;
    width: 570px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #e5effd;
    opacity: 0.53;
    z-index: -1;
}

.developer-img,
.developer-content {
    padding-top: 70px;
}

.developer-content__img {
    position: absolute;
    top: 0;
    left: 109.5px;
    z-index: -1;
}

.developer-content__chat,
.developer-content__describe,
.developer-content__slogan,
.developer-content__job {
    margin-left: 175px;
}

.developer-content__job {
    display: inline-block;
    background: #64f4ac;
    border-radius: 4px;
    padding: 8px 30.5px;
    margin-bottom: 32px;
}

.developer-content__job span {
    color: #051441;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6.1px;
}

.developer-content__slogan {
    font-size: 58px;
    line-height: 1.3;
    font-weight: 600;
    color: #051441;
    letter-spacing: -1.01px;
}

.developer-content__describe {
    color: #545454;
    margin-bottom: 56px;
    white-space: pre-line;
}

.developer-content__chat {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #64f4ac;
    text-transform: uppercase;
    text-decoration: none;
}

.developer-content__chat::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #64f4ac;
}

.developer-content__developer-skill {
    display: flex;
    width: max-content;
    padding: 20px 0;
    margin-top: 120px;
    margin-left: 32px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 13px 237px 0 #0000000a;
}

.developer-skill__experience,
.developer-skill__projects {
    text-transform: uppercase;
    line-height: 1.5;
    color: #545454;
    padding: 0 38px;
}

.developer-skill__experience p,
.developer-skill__projects p {
    display: flex;
    align-items: center;
    color: #545454;
    font-weight: 600;
    margin: 0;
}

.developer-skill__experience span,
.developer-skill__projects span {
    margin-right: 15px;
    font-size: 56px;
    color: #051441;
}

.developer-img {
    height: 767px;
    position: relative;
}

.developer-img1,
.developer-img2,
.developer-img3,
.developer-img4,
.developer-img5,
.developer-img6,
.developer-img7 {
    position: absolute;
}

.developer-img1 {
    left: 145px;
    bottom: 151px;
    z-index: -1;
}

.developer-img2 {
    top: 50px;
    left: 65px;
    z-index: -1;
}

.developer-img3 {
    top: 180px;
    left: 558px;
}

.developer-img4 {
    position: relative;
    top: -10px;
    right: 0;
    left: 154px;
}

.developer-img5 {
    top: 70px;
    left: 84px;
}

.developer-img5 img {
    animation: fadeInUp1 1.5s 0.2s infinite alternate both;
}

.developer-img6 {
    top: 0;
    left: 451px;
    z-index: -1;
}

.developer-img6 img {
    animation: fadeInUp1 1.9s 0.3s infinite alternate-reverse both;
}

.developer-img7 {
    top: 279px;
    left: -28px;
}

/* About */
#about {
    padding: 120px 0 80px;
}

.skill-part .skill-part__item+.skill-part__item {
    margin-top: 10px;
}

.skill-part__item {
    position: relative;
    background: #fff;
    box-shadow: 0 50px 150px 0 #0449590d;
    padding: 30px 60px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.skill-part__item:hover {
    box-shadow: 0 4px 60px 0 #0449590d, 0 12px 100px 0 #0449590f;
}

.skill-part__item h3 {
    font-size: 28px;
    color: #051441;
    font-weight: 600;
    transition: color 0.2s linear;
    margin-bottom: 8px;
}

.skill-part__item:hover h3 {
    color: #64f4ac;
}

.skill-part__item p {
    color: #545454;
    font-size: 18px;
    margin-bottom: 16px;
}

.skill-part__item a {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    color: #051441;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.2;
    text-decoration: none;
}

.skill-part__item a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background: #051441;
    transition: all 0.3s ease-in-out;
}

.skill-part__item a:hover::before {
    width: 100%;
    left: 0;
}

.skill-part__item span {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    color: #64f4ac;
}

.content-part {
    padding-left: 100px;
}

.content-part h6 {
    font-size: 18px;
    color: #545454;
    margin-bottom: 20px;
    font-weight: 600;
}

.content-part h2 {
    font-size: 42px;
    color: #051441;
    line-height: 1.15;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    font-weight: 600;
}

.content-part h5 {
    font-style: italic;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 500;
    color: #051441;
    margin-bottom: 20px;
}

.content-part p {
    color: #545454;
    line-height: 32px;
    font-size: 15.5px;
}

/* Service */
#service {
    padding-top: 100px;
}

.supporter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 180px;
}

.supporter__logo-item {
    width: 19%;
    text-align: center;
    margin: 3px 3px 27px;
}

/* Contact */
#contact {
    padding: 120px 0;
    background: #fafafa;
    margin-top: 16px;
}

.column-input {
    margin: 0 -15px;
}

.info {
    padding-left: 175px;
}

.input>h6,
.info>h6 {
    color: #64f4ac;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.input>h2,
.info>h2 {
    color: #051441;
    letter-spacing: -1.7px;
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 78px;
}

.info .media+.media {
    margin-top: 25px;
}

.media {
    display: flex;
    align-items: center;
}

.media>a {
    color: #64f4ac;
    font-size: 50px;
    margin: 0 20px 0 20px;
    width: 10%;
}

.media__content {
    flex-grow: 1;
}

.media__content h6 {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #545454;
}

.media__content a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color: #040c2c;
}

.input {
    position: relative;
    right: 93px;
}

.input__form {
    display: flex;
    flex-direction: column;
}

.input__form .input__form-message,
.input__form-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    min-height: 44px;
    color: #494949;
    border: 1px solid #ededed;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.input__form .input__form-message {
    resize: none;
    height: 142px;
    padding: 12px 12px 6px 20px;
    flex: 1;
}

.container-input__form-text {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.input__form-text {
    width: 100%;
    padding: 6px 12px 6px 20px;
}

.input__form-btn {
    background: #64f4ac;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    max-width: 200px;
    border: none;
    padding: 15px 38px 15px 42px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.input__form-btn:hover {
    box-shadow: 0 16px 30px 0 rgb(0 0 0 / 12%);
}

/* Footer */
#footer {
    background: #64f4ac;
    padding: 11.5px 0;
}

.social-network {
    display: flex;
    position: relative;
    left: 175px;
    text-align: center;
    line-height: 60px;
    list-style-type: none;
}

.social-network__item {
    padding: 0 5px;
}

.social-network__item a {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    line-height: 35px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s linear;
    text-align: center;
}

.social-network__item a:hover {
    background: #fff;
    color: #494949;
}

.license {
    padding-right: 175px;
    text-align: right;
    line-height: 25px;
    margin-top: 7px;
}

.license h6 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.license h6 a {
    color: #fff;
    text-decoration: none;
}

.license p {
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}