<<<<<<< HEAD
#portfolio {
    padding: 140px 0 120px;
}

.flex-column {
=======

#portfolio{
    position: relative;
    z-index: -1;
    padding: 140px 0 120px;
}

.flex-column{
>>>>>>> hana
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
<<<<<<< HEAD

.flex-row {
    display: flex;
=======
>>>>>>> hana

.flex-row{
    display: flex;    
}

<<<<<<< HEAD
.flex-column_content {
=======
.flex-column_content{
>>>>>>> hana
    position: relative;
    width: 745px;
    height: 160px;
    padding: 0 40px 0 40px;
    margin-bottom: 80px;
}

<<<<<<< HEAD
.flex-column_content--text {
    padding-left: 150px;
=======
.flex-column_content--text{
    padding-left: 150px ;
>>>>>>> hana
    margin-bottom: 80px;
    height: 80px;
}

.flex-column_content h2 {
    font-size: 42px;
    font-weight: 600;
    color: #051441;
    margin-bottom: 0;
    line-height: 1.2;
}

.flex-column_content p {
    color: #545454;
    font-size: 16px;
}

<<<<<<< HEAD
.flex-column_content h2,
.flex-column_content p {
    font-family: Poppins, sans-serif;
}

.flex-column_image {
=======
.flex-column_content h2, .flex-column_content p{
    font-family: Poppins,sans-serif;
}

.flex-column_image{
>>>>>>> hana
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s linear;
}

.flex-column_context--right{
    
    position: absolute;
    left: 425px;
    bottom: 29px;
    color:#64f4ac;
    font-family: Open Sans,sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    margin: 120px 150px 0px 0px;
    text-transform: uppercase;
    display: inline-block;


}

.flex-column_context--right::before{
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #64f4ac;
    transition: all 0.4s linear;
}

.flex-column_context--right:hover:before{
    width: 0;
    right: 0;
}

.flex-column__img-item{
    box-sizing: content-box;
    width: 665px;
    height: 443px;
    padding: 0 40px 0 40px;
    margin-bottom: 80px;
    border-radius: 10px;
}

<<<<<<< HEAD
.flex-column_image--left {}

.flex-column_image--right {}

.flex-column_context--right {

    position: absolute;
    left: 425px;
    /* top: 120px; */
    bottom: 29px;
    /* right: 170px; */
    color: #64f4ac;
    font-family: Open Sans;
    font-size: 20px;
=======
.flex-column__img-item--pic{
    position: relative;
    cursor: pointer;
    transition: all 0.4s linear;
}

.flex-column__img-item--pic:hover{
    box-shadow: 0 5px 35px 0 rgb(148 146 245 / 15%);
}

.flex-column__img-item--text{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    padding: 40px;
}

.flex-column__img-item--text h3{
    margin-bottom: 0;
    color: #ffffff;
    font-size:32px;
    font-weight:500;
    line-height:38.4px;
    text-align:center;
    font-family: Poppins,sans-serif;
}
.category{
 
    
}
.category a{
    padding: 5px 8px;
    border-radius: 3px;
    background: #fff;
    color: #545454;
    font-size: 14px;
>>>>>>> hana
    font-weight: 600;
    margin: 0 3px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

/* Experience */
#experience{
    position: relative;
    z-index: -1;
    padding: 120px 0 120px; 
}
.img_item{
    position: absolute;
    z-index: -1;
}

.img_item--1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
}

.img_item--2{
    right: -5px;
    top: 0;
}

.img_item--3{
    left: 40px;
    top: 50px;
}

.img_item--4{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.layout{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
    .layout{
        max-width: 1140px;
    }
}
.experience_tittle{
    margin-bottom: 70px;
}

.experience_tittle h2{
    font-size: 42px;
    font-weight: 600;
    color: #051441;
    margin-bottom: 0;
    line-height: 1.2;
}

.experience_tittle p{
    color: #545454;
    font-size: 16px;
    margin-bottom: 16px;
}
.experience_tittle h2, .experience_tittle p{
    font-family: Poppins,sans-serif;
}
.experience_inner{

<<<<<<< HEAD
}
=======
}
.media{
    display: flex;
}
.experience_item{
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 50px 150px 0 rgb(4 73 89 / 5%);
    align-items: center;
    font-family: Poppins,sans-serif;
    margin-bottom: 30px;
    transition: all .3s linear;
    cursor: pointer;
}
.media-left{
    margin-right: 20px;
}
.media-left_img{
    vertical-align: middle;
    border-style: none;
    transition: all .3s linear;
}
.media-body{
    
}
.media-body_tittle{
    color: #051441;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    transition: color .2s linear;
    font-size: 1.5rem;
    line-height: 1.2;
}

.media-body span {
    color: #545454;
    opacity: .6;
    font-size: 14px;
    line-height: 1;
}

.media-body p{
    margin-bottom: 0;
    color: #545454;
    margin-top: 8px;
    box-sizing: border-box;
    text-align: left;
    line-height: 30px;
    font-family: Poppins,sans-serif;
}

.media-body:hover h4{
    color: #64f4ac;
}

/* awards */
#awards{
    position: relative;
    z-index: -1;
    padding: 120px 0 120px; 
    background: #f8f8f8
}

.img_item--bg{
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
}

.layout{

}
.awards_tittle{
    margin-bottom: 70px;
}

.awards_tittle h2{
    font-size: 42px;
    font-weight: 600;
    color: #051441;
    margin-bottom: 0;
    line-height: 1.2;
}

.awards_tittle p{
    color: #545454;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.awards_tittle h2, .awards_tittle p{
    font-family: Poppins,sans-serif;
}
.layout .flex-row{
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
}
.flex-row__card{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.awards_item{
    padding: 40px;
    display: block;
    font-family: Poppins,sans-serif;
    background: #fff;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
}

.awards_item h4{
    font-family: Poppins,sans-serif;
    color: #051441;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.01em;
    margin-bottom: 15px;
}

.awards_item p{
    color: #545454;
    margin-bottom: 16px;
}
.icon{
    margin-bottom: 30px;
    position: relative;
    height: 125px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flex-row [class*= "flex-row__card"]:first-child .icon::before {
    background: #e0f7ef;
    border-radius: 62% 38% 61% 39%/46% 57% 43% 54%;
}

.flex-row [class*= "flex-row__card"]:nth-child(2) .icon::before {
    background: rgba(6,36,249,.6);
    border-radius: 39% 81% 50% 59%/46% 57% 43% 54%;
}

.flex-row [class*= "flex-row__card"]:nth-child(3) .icon::before{
    background: #dde9fa;
    border-radius: 19% 99% 32% 88%/52% 65% 100% 81%;
}
.icon::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
}

.flex-row [class*= "flex-row__card"]:first-child:hover:before{
     border-radius: 20% 60% 60% 40%/40% 61% 20% 61%;
}
.awards_btn{
    font-size: 14px;
    color: #64f4ac;
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-family: Poppins,sans-serif;
}

.awards_btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #64f4ac;
    transition: all 0.4s linear;
}

.awards_btn:hover:before {
    width: 0;
    right: 0;
}

>>>>>>> hana
